<span id="roll_button">
  <%= link_to roll_game_path(:playroud => @jamb.playround),  { :method=>:post, :class =>  "btn btn-primary btn-large",:remote => true } do %>
    <i class="icon-white icon-hand-right"></i> &nbsp <%= @jamb.diceboard.mode.to_sym == :no_roll ? "Roll" :  "Roll selected dices" %></i>
  <% end %>
</span>
    
