<div id="roll_other_button">
  <%= link_to roll_other_game_path(:playround => @jamb.playround) ,  { :method=>:post, :class =>  "btn btn-primary btn-large"} do %>
    <i class="icon-white icon-thumbs-up"></i> <%=  "Roll unslected dices" %> </i>
  <% end %>
</div>  
