<span id="roll_other_button">
  <%= link_to roll_other_game_path(:playround => @jamb.playround) ,  { :method=>:post, :class =>  "btn btn-primary btn-large play", :remote => true } do %>
    <i class="icon-white icon-hand-left"></i> &nbsp  <%=  "Roll unselected dices" %> </i>
  <% end %>
</span>  
