<% content_for :home do %>
 <div id="home" %> 
   <%= image_tag "heading.jpeg" %><br/>
   <% if current_user %>
     <%= render partial: 'userindex' %>
   <%else%>    
     <h2><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %></h2>
   <%end%>  
 </div>
<% end %>  

